  <div id="wrapper">
      <div id="main">
      <router-outlet></router-outlet>
        <div class="inner">
            <header id="header">
              <a href="" class="logo"><strong>Pizzaria</strong></a>
              <ul class="icons">
                <li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
              </ul>
            </header>

          <!-- Banner -->
            <section id="banner">
              <div class="content">
                <router-outlet>
                
                </router-outlet>
              </div>
            </section>
          

        </div>
      </div>

    <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Menu -->
            <nav id="menu">
              <header class="major">
                <h2>Menu</h2>
              </header>
              <ul>
                <li><a href="">Cardápio</a></li>
                
                 
                
              </ul>
            </nav>
          
          <!-- Footer -->
            <footer id="footer">
              <p class="copyright">&copy; PizzaTech © 2021 </p>
            </footer>

        </div>
      </div>

  </div>
  <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/browser.min.js"></script>
    <script type="text/javascript" src="./assets/js/breakpoints.min.js"></script>
    <script type="text/javascript" src="./assets/js/util.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>