<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <h4>Status do Pedido</h4>
  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
  
  <!-- <img src="https://media.giphy.com/media/cmCHuk53AiTmOwBXlw/giphy.gif" class="rounded mx-auto d-block" alt="..."> -->
  <div class="text-center">
    <h1 id="app">{{ message }}</h1>
    <img src="https://media.giphy.com/media/cmCHuk53AiTmOwBXlw/giphy.gif" class="rounded" alt="gif entregador">
  </div>
  
</body>
</html>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('be00d08867dbcda17eb3', {
      cluster: 'mt1'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {

      var data = JSON.stringify(data);
	  console.log(data);
      document.querySelector('#app').innerText = data;
    });
  </script>