<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <h4>Status do Pedido</h4>
  
  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
  </div>
  <div class="text-center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1 id="app">{{ menssage }}</h1>
    <div></div>
    <div class="text-center" id="image-size">
      <iframe src="https://giphy.com/embed/bRpa6DFERjTR9roQcQ" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
     <!--  <img  src="https://media.giphy.com/media/bRpa6DFERjTR9roQcQ/giphy.gif" class="rounded mx-auto d-block" alt="gif entregador"> -->
    </div>
  </div>
  
</body>
</html>
