<h2 class="text-center">Entrar</h2>
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
        <label>Usuario</label>
        <input class="form-control" nome="username" id="username" [(ngModel)]="login.username" required />
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input class="form-control" type="password" nome="password" id="password" [(ngModel)]="login.password" required />
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
    <button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']">Criar Conta</button>

    
</form>