<h4>Avaliação</h4>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100">100%</div>
</div>
<div>

    <H4 class="labelAvaliacao">Sua Avaliação é muito importante pra nós, envie sua Avaliação é ganhe 3% de desconto na
        proxima compra
        <p>Agradeço Pela Preferencia
    </H4>

        <h3 class="text-center">De 0 a 5 qual a nota para pizza de {{namePizza}}</h3>

        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form-group">
            <label>Nota</label>
            <input class="form-control"  name="nota" id="nota" type="number" maxlength="1" [(ngModel)]="likes.nota" required />
          </div>
         <!--  type="number" -->
          <div class="form-group">
            <label>Comentário</label>
            <input class="form-control" type="text" name="comentario" id="comentario" [(ngModel)]="likes.comentario"  />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Enviar Avaliação</button>
        </form>
        